version: '3.8'
services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./:/app:cached
    environment:
      - WOT_APP_ID=${WOT_APP_ID}
      - CLAN_ID=${CLAN_ID}
      - WOT_REALM=${WOT_REALM}
      - DATABASE_URL=sqlite:///./data/db.sqlite3
    restart: unless-stopped
